* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    /* alinhar na verticar*/
    align-items: center;
}

header {
    height: 70px;
    padding: 16px 0 0;
    margin-bottom: 56px;
    background-color: rgb(48, 139, 201);
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    color:  rgb(48, 139, 201);
    margin: 20px 0;
    border-bottom: 4px solid rgb(48, 139, 201);
}

h3 { 
    color: black;
}

footer {
    background-color:  rgb(48, 139, 201);
    height: 40px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%) ;
    column-gap: 1%;
}

.produto h3 {
    margin: 10px 0;
}
.produto img {
    max-width: 100%;
}

.sobre {
    display: flex;
}

.sobre p {
    font-size: 2em;
    margin-left: 18px;
}

button {
    margin: 10px 0;
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(48, 139, 201);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;

}

@media screen and (max-width: 767px) {
    
    .container {
        max-width: 90%;
    }
    .produtos {
        display: block;
    }
    .sobre {
        display: block;
    }

    .sobre img {
        max-width: 100%;
    }

    .sobre p {
        font-size: 1.5em;
    }

    header {
        height: 110px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
    }

    .sobre {
        display: block;
    }
    .sobre img {
        width: 100% ;
    }
}
